@model TheDrinkHub_DWEB.Models.Encomenda

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Encomenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UtilizadorId" class="control-label"></label>
                <select asp-for="UtilizadorId" class="form-control" asp-items="ViewBag.UtilizadorId"></select>
                <span asp-validation-for="UtilizadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEncomenda" class="control-label"></label>
                <input asp-for="DataEncomenda" class="form-control" />
                <span asp-validation-for="DataEncomenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <h4>Itens da Encomenda</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço Unitário</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Itens.Count; i++)
            {
                var item = Model.Itens.ElementAt(i);
                <tr>
                    <td>
                        @item.Produto.Nome
                        <input type="hidden" name="Itens[@i].ProdutoId" value="@item.ProdutoId" />
                        <input type="hidden" name="Itens[@i].Id" value="@item.Id" />
                    </td>
                    <td>
                        @item.PrecoUnitario.ToString("C")
                        <input type="hidden" name="Itens[@i].PrecoUnitario" value="@item.PrecoUnitario" />
                    </td>
                    <td>
                        <input type="number" name="Itens[@i].Quantidade" value="@item.Quantidade" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

